{% for tag in asyncapi | operationsTags %}
  <div class="mt-4 {% if open %}is-open{% endif %}">
    <div class="js-prop cursor-pointer py-2 flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm" style="word-break: break-word;text-transform: capitalize;">
          {{ tag }}
        </span>
        <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
          <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
        </svg>
      </div>
    </div>

    <div class="children">
      {% for channelName, channel in asyncapi.channels() %}
        {% if channel.publish() and channel.publish().hasTags() and channel.publish() | containTags(tag) %}
          <a class="js-menu-item flex break-words no-underline text-grey-darkest mt-8 sm:mt-8 md:mt-3" href="#operation-publish-{{ channelName }}">
            <span class="bg-blue-dark font-bold h-6 no-underline text-white uppercase p-1 mr-2 rounded" style="height: 21px;font-size: 11px;" title="Publish">
              Pub
            </span>
            {% if channel.publish().summary() %}
              <span style="padding-top: 2px;">
                {{ channel.publish().summary() }}
              </span>
            {% else %}
              <div style="display:inline-block;">
                {{ slicedString(channelName, 'padding-top: 2px;') }}
              </div>
            {% endif %}
          </a>
        {% endif %}

        {% if channel.subscribe() and channel.subscribe().hasTags() and channel.subscribe() | containTags(tag) %}
          <a class="js-menu-item flex break-words no-underline text-grey-darkest mt-8 sm:mt-8 md:mt-3" href="#operation-subscribe-{{ channelName }}">
            {% if channel.deprecated %}
              <span title="Deprecated"></span>
            {% endif %}
            <span class="bg-green-dark font-bold no-underline text-white uppercase p-1 mr-2 rounded" style="height: 21px;font-size: 11px;" title="Subscribe">
              Sub
            </span>
            {% if channel.subscribe().summary() %}
              <span style="padding-top: 2px;">
                {{ channel.subscribe().summary() }}
              </span>
            {% else %}
              <div style="display:inline-block;">
                {{ slicedString(channelName, 'padding-top: 2px;') }}
              </div>
            {% endif %}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}

{% if asyncapi.channels() | containNoTag(asyncapi | operationsTags()) %}
  <div class="mt-4 {% if open %}is-open{% endif %}">
    <div class="js-prop cursor-pointer py-2 flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm" style="word-break: break-word;text-transform: capitalize;">
          Untagged
        </span>
        <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
          <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
        </svg>
      </div>
    </div>

    <div class="children">
      {% for channelName, channel in asyncapi.channels() %}
        {% if channel.hasPublish() and (not channel.publish().hasTags() or not channel.publish() | containTags(asyncapi | operationsTags())) %}
          <a class="js-menu-item flex break-words no-underline text-grey-darkest mt-8 sm:mt-8 md:mt-3" href="#operation-publish-{{ channelName }}">
            <span class="bg-blue-dark font-bold h-6 no-underline text-white uppercase p-1 mr-2 rounded" style="height: 21px;font-size: 11px;" title="Publish">
              Pub
            </span>
            {% if channel.publish().summary() %}
              <span style="padding-top: 2px;">
                {{ channel.publish().summary() }}
              </span>
            {% else %}
              <div style="display:inline-block;">
                {{ slicedString(channelName, 'padding-top: 2px;') }}
              </div>
            {% endif %}
          </a>
        {% endif %}

        {% if channel.hasSubscribe() and (not channel.subscribe().hasTags() or not channel.subscribe() | containTags(asyncapi | operationsTags())) %}
          <a class="js-menu-item flex break-words no-underline text-grey-darkest mt-8 sm:mt-8 md:mt-3" href="#operation-subscribe-{{ channelName }}">
            <span class="bg-green-dark font-bold no-underline text-white uppercase p-1 mr-2 rounded" style="height: 21px;font-size: 11px;" title="Subscribe">
              Sub
            </span>
            {% if channel.subscribe().summary() %}
              <span style="padding-top: 2px;">
                {{ channel.subscribe().summary() }}
              </span>
            {% else %}
              <div style="display:inline-block;">
                {{ slicedString(channelName, 'padding-top: 2px;') }}
              </div>
            {% endif %}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}